@font-face {
  font-family: "PP";
  src: url("./FontsFree-Net-PPFormula-ExtendedBold-1.ttf");
  // font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT";
  src: url("./GT-Cinetype-Trial-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
